<% title "Genres" %>

<%= content_for :head do %>

<script type="text/javascript" charset="utf-8">
var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'genre'
      },
      title: {
         text: 'Collection by Genre'
      },
      plotArea: {
         shadow: null,
         borderWidth: null,
         backgroundColor: null
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.y;
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
				enabled: true,
				color: '#000000',
				connectorColor: '#000000',
				formatter: function() {
						return '<b>'+ this.point.name +'</b>: $'+ this.y;
				}
            },
			point: {
                events: {
                    click: function() {
                        //alert ('Category: ' + this.x);
						window.location = '/genres/' + this.id;
                    }
                }
			},
            showInLegend: true
         }
      },
       series: [{
         type: 'pie',
         name: 'Genre share',
         data: [
		 <% for item in @stats %>
			{
				id : <%= item.genre_id %>,
				name: '<%= escape_javascript(item.genre.name.html_safe) %>',
				sum: <%= item.sum.to_f %>,
				y: <%= item.count.to_f %>
			}<% unless item.genre_id == @stats.last.genre_id %>, <% end %>
		 <% end %>
  		]
	}]
   });
});
</script>

<% end %>

<ul>
	<li><%= link_to "by size", "?order=size" %></li>
	<li><%= link_to "by value", "?order=value" %></li>
</ul>

<div id="genre" style="width: 800px; height: 400px; margin: 0 auto"></div>