
<h2 class='page-title'><%= @genre.name %></h3>

<div id="genre-records">
  <table>
    <thead>
      <tr>
        <th> Cover </th>
        <th> <%= sort_link @search, :artist_name, "Artist" %> </th>
        <th> <%= sort_link @search, :label_name, "Label" %> </th>
        <th> <%= sort_link @search, :record_format_name, "Record Format" %> </th>
        <th> <%= sort_link @search, :condition, "Condition" %> </th>
        <th class="buttons"></th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr>
          <td> <%= cover_link_for record %> </td>
          <td> <%= link_to record.artist.name, record.artist, class: 'table-link' %> </td>
          <td> <%= link_to record.label.name, record.label, class: 'table-link' %> </td>
          <td> <%= record.record_format.name %> </td>
          <td> <%= condition_formatter(record.condition) %> </td>
          <td class="buttons">
            <%= link_to icon('search'), record %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div><%= paginate @records %></div>
</div>

<div class="show-info">
  <table>
    <thead>
      <tr>
        <th colspan="2">Genre details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td class="value"><%= @genre.name %></td>
      </tr>

      <tr>
        <td>Records</td>
        <td class="value"><%= @records.total_count %></td>
      </tr>

      <tr>
        <td>Artists</td>
        <td class="value"><%= @artists.count %></td>
      </tr>

    </tbody>
  </table>
</div>