<% content_for :head do %>

<link type="text/css" rel="stylesheet" href="http://freebaselibs.com/static/suggest/1.3/suggest.min.css" />
<script type="text/javascript" src="http://freebaselibs.com/static/suggest/1.3/suggest.min.js"></script>
<script type="text/javascript">
$(function() {
  $("#freebase")
	.suggest({type:'/music/artist'})
	.bind("fb-select", function(e, data) {
	    $("#artist_freebase_id").val(data.id);
	  });
});
</script>

<% end %>

<%= form_for @artist do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
	
    <%= f.label :freebase_id %><br />
	<%= text_field_tag :freebase %>
    <%= f.hidden_field :freebase_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
