<% breadcrumb :artists %>

<% content_for :page_title do %>
  <%= @artists.model_name.plural.humanize %>
<% end %>

<div class="container p-t-md">
  <%= render 'shared/header_panel' %>

  <div class="row">
    <div class="col-md-3">
      <%= search_form_for @q do |search_form| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <h5 class="m-t-0">Search</h5>

            <div class="form-group">
              <%= search_form.label :name %>
              <%= search_form.select :id_in,
                @q.id_in.present? ?
                  Artist.where(id: @q.id_in).
                    map { |artist| [artist.name, artist.id] } :
                  [],
                { include_hidden: false },
                { multiple: true,
                  class: 'form-control selectize_remote',
                  data: { remote_url: '/artists.json' } } %>
            </div>

            <div class="form-group">
              <%= search_form.label "Label" %>
              <%= search_form.select :labels_id_in,
                @q.labels_id_in.present? ?
                  Label.where(id: @q.labels_id_in).
                    map { |label| [label.name, label.id] } :
                  [],
                { include_hidden: false },
                { multiple: true,
                  class: 'form-control selectize_remote',
                  data: { remote_url: '/labels.json' } } %>
            </div>

            <div class="form-group">
              <%= search_form.label "Genres" %>
              <%= search_form.collection_select :genres_id_in,
                Genre.joins(:records).uniq, :id, :name,
                { include_hidden: false },
                { multiple: true,
                  class: 'form-control selectize_remote' } %>
            </div>

            <div class="checkbox">
              <label>
                <%= search_form.check_box :records_id_null %>

                Only without records
              </label>
            </div>

            <div class="checkbox">
              <label>
                <%= search_form.check_box :songs_id_not_null %>
                Only with songs
              </label>
            </div>

            <div class="checkbox">
              <label>
                <%= search_form.check_box :photos_id_not_null %>
                Only with photos
              </label>
            </div>

            <%= search_form.submit 'Submit', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <small class="pull-right">
            <%= page_entries_info @artists %>
          </small>

          <h5 class="m-t-0">Results</h5>

          <table class="table">
            <thead>
              <tr>
                <th>Cover</th>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @artists.each do |artist| %>
                <tr>
                  <td><%= photo_link_helper(artist, 50, 50) %></td>
                  <td><%= artist.name %></td>
                  <td>
                    <%= link_to artist_path(artist) do %>
                      <span class="icon icon-magnifying-glass"></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="text-center">
          <%= paginate @artists %>
        </div>
      </div>
    </div>
  </div>
</div>
