<div class="container p-t-md">
  <div class="row">
    <div class="col-md-3">
      <%= render 'shared/search_box', q: @q,
        search_fields: {
          base_klass: @artists.klass,
          label_association: 'labels',
          genre_association: 'genres',
          with_photos: true,
          with_songs: true
        } %>
    </div>

    <div class="col-md-9">
      <div class="row">
        <% @artists.each do |artist| %>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body">
                <% if artist.photos.present? %>
                  <%= image_tag attachment_url(
                    artist.photos.try(:first), :image, :fill, 200, 200),
                    class: 'img-responsive' %>
                <% else %>
                  <%= image_tag fallback(200, 200),
                    class: 'img-responsive' %>
                <% end %>

                <p class="text-center">
                  <%= link_to truncate(artist.name, length: 20), artist_path(artist) %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="text-center">
        <%= paginate @artists %>
      </div>
    </div>
  </div>
</div>
