<% breadcrumb :artists %>

<h2 class="page-title">Artist</h2>

<div id="artists">
  <h3>Artist Index</h3>
  <table>
    <thead>
      <tr>
        <th> <%= sort_link @search, :name, "Name" %> </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <td> <%= artist.name %> </td>
          <td> <%= link_to 'show', artist %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @artists %>
  <%= page_entries_info @artists %>
</div>

<%= render 'filters' %>
