<% content_for :page_title do %>
  <%= @artist.name %>
<% end %>

<div class="container p-t-md">
  <%= render 'shared/carousel', object: @artist %>

  <div class="panel panel-default">
    <div class="panel-body">
      <h4 class="m-t-0 m-b-0"
        style="display: inline-block; padding-top: 5px;">

        <%= @artist.name %>
      </h4>

      <span class="pull-right">
        <%= render 'shared/back_link',
          last_search_query: @last_search_query,
          path: labels_path %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= render 'records/search_panel/search_box',
        q: @q, scope: @artist %>
    </div>

    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <small class="pull-right">
            <%= page_entries_info @records %>
          </small>

          <h5 class="m-t-0">Related Records</h5>

          <%= render 'records/search_panel/records_table',
            records: @records %>
        </div>
      </div>
    </div>
  </div>
</div>
