<% title "Record Listings" %>

<table>
  <tr>
    <th>Record</th>
    <th>External</th>
    <th>Listing Type</th>
  </tr>
  <% for record_listing in @record_listings %>
    <tr>
      <td><%= record_listing.record_id %></td>
      <td><%= record_listing.external_id %></td>
      <td><%= record_listing.listing_type %></td>
      <td><%= link_to "Show", record_listing %></td>
      <td><%= link_to "Edit", edit_record_listing_path(record_listing) %></td>
      <td><%= link_to "Destroy", record_listing, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Record Listing", new_record_listing_path %></p>
