<% title "Record Listing" %>

<p>
  <strong>Record:</strong>
  <%= @record_listing.record_id %>
</p>
<p>
  <strong>External:</strong>
  <%= @record_listing.external_id %>
</p>
<p>
  <strong>Listing Type:</strong>
  <%= @record_listing.listing_type %>
</p>

<p>
  <%= link_to "Edit", edit_record_listing_path(@record_listing) %> |
  <%= link_to "Destroy", @record_listing, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", record_listings_path %>
</p>
