<style>
	.ui-autocomplete-loading { background: white url('/images/jquery-ui/ui-anim_basic_16x16.gif') right center no-repeat; }
	.ui-autocomplete { font-size: 12px; }
</style>
<script>
$(function() {
	$( "#search" ).autocomplete({
		source: "/searches/autocomplete.js",
		minLength: 3,
		focus: function( event, ui ) {
			//set hidden field nil
			$( "#searchable_id" ).val("");
			return false;
		},
		select: function( event, ui ) {
			//set hidden fields
			$( "#searchable_id" ).val( ui.item.value );
			$( "#searchable_type" ).val( ui.item.desc );
			$( "#search" ).val( ui.item.label );
			return false;
		}
	})
	.data( "autocomplete" )._renderItem = function( ul, item ) {
		return $( "<li></li>" )
			.data( "item.autocomplete", item )
			//.append( "<a><img src='/images/flags/" + item.icon + "'/>" + item.label + "</a>" )
			.append( "<a>" + item.label + "<br>" + item.desc + "</a>" )
			.appendTo( ul );
	};


});
</script>

<% form_tag records_path, :method => 'get' do %>
	<p>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
		
		<%= text_field_tag :search, params[:search] %>
		<%= select_tag :searchable_type, options_for_select(%w{ Full-text Artist Label Song Genre }, params[:searchable_type])%>
		<%= hidden_field_tag :searchable_id, params[:searchable_id] %>
		
		<%# if params[:searchable_type] == "Artist" %>
			<%#= select_tag :label, options_for_select(Artist.find(params[:searchable_id]).labels.map{|u| u.name})%>
		<%# end %>
		
		<%= submit_tag "Search" %>
		<%= link_to 'Advanced Search', new_search_path, :class => 'advanced_search' %>
		
		<% if params[:searchable_type] == "Artist" %>
			<div id="filters">
				<%= label_tag :filters %>
				<%= select_tag :label_id, options_from_collection_for_select(@filter.labels.order(:name), :id, :name, :selected => params[:label_id]), { :include_blank => true }%>
				<%= select_tag :genre_id, options_from_collection_for_select(@filter.genres.order(:name), :id, :name, :selected => params[:genre_id]), { :include_blank => true }%>
			</div>
		<% elsif params[:searchable_type] == "Label" %>	
			<div id="filters">
				<%= label_tag :filters %>
				<%= select_tag :artist_id, options_from_collection_for_select(@filter.artists.order(:name), :id, :name, :selected => params[:artist_id]), { :include_blank => true }%>
				<%= select_tag :genre_id, options_from_collection_for_select(@filter.genres.order(:name), :id, :name, :selected => params[:genre_id]), { :include_blank => true }%>
			</div>		
		<% end %>
		

	</p>
<% end %>