<% title "Recommendations" %>

<table>
  <tr>
    <th>Email</th>
    <th>Token</th>
    <th>Expiration</th>
    <th>Record</th>
  </tr>
  <% for recommendation in @recommendations %>
    <tr>
      <td><%=h recommendation.email %></td>
      <td><%=h recommendation.token %></td>
      <td><%=h recommendation.expiration %></td>
      <td><%=h recommendation.record %></td>
      <td><%= link_to "Show", recommendation %></td>
      <td><%= link_to "Edit", edit_recommendation_path(recommendation) %></td>
      <td><%= link_to "Destroy", recommendation, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Recommendation", new_recommendation_path %></p>
