<% title "Record Formats" %>

<table>
  <tr>
    <th>Name</th>
	<th>Price Guide Records</th>
	<th>Your Records</th>
	<th></th>
	<th></th>
  </tr>
  <% for record_format in @record_formats %>
    <tr>
      <td><%= record_format.name %></td>
	  <td><%#= record_format.prices.size %></td>
	  <td><%= record_format.records.size %></td>
      <td><%= link_to "Show", record_format %></td>
      <td><%= link_to "Edit", edit_record_format_path(record_format) %></td>
      <td><%= link_to "Destroy", record_format, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Record Format", new_record_format_path %></p>
