<% breadcrumb :labels %>

<h3 class="page-title">Labels</h2>

<div id="labels">
  <h3>Label Index</h3>
  <table>
    <thead>
      <tr>
        <th> <%= sort_link @search, :name, "Name" %> </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @labels.each do |label| %>
        <tr>
          <td> <%= label.name %> </td>
          <td> <%= link_to 'show', label %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @labels %>
  <%= page_entries_info @labels %>
</div>

<%= render 'filters' %>
