<% breadcrumb :label, @label %>

<% content_for :page_title do %>
  <%= @label.name %>
<% end %>

<% content_for :header_links do %>
  <span class="pull-right">
    <%= render 'shared/back_link',
      last_search_query: @last_search_query,
      path: labels_path %>
  </span>
<% end %>

<div class="container p-t-md">
  <%= render 'shared/carousel', object: @label %>
  <%= render 'shared/header_panel' %>

  <div class="row">
    <div class="col-md-3">
      <%= render 'records/search_panel/search_box', q: @q, object: @label %>
    </div>

    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <h5 class="m-t-0">Related Records</h5>

          <%= render 'records/records_table',
            records: @records, object: @label, q: @q %>
        </div>
      </div>
    </div>
  </div>
</div>
