<div class="sidebar-menu">
  <ul class="menu-items">
    <li class="m-t-30">
      <%= link_to admin_root_path do %>
        <span class="title">Dashboard</span>
      <% end %>
      <span class="icon-thumbnail "><i class="fa fa-home"></i></span>
    </li>

    <li>
      <%= link_to admin_prices_path do %>
        <span class="title">Prices</span>
      <% end %>
      <span class="icon-thumbnail "><i class="fa fa-dollar"></i></span>
    </li>

    <li>
      <%= link_to admin_records_path do %>
        <span class="title">Records</span>
      <% end %>
      <span class="icon-thumbnail "><i class="fa fa-circle"></i></span>
    </li>

    <li>
      <%= link_to admin_artists_path do %>
        <span class="title">Artists</span>
      <% end %>
      <span class="icon-thumbnail "><i class="fa fa-star"></i></span>
    </li>

    <li>
      <%= link_to admin_labels_path do %>
        <span class="title">Labels</span>
      <% end %>
      <span class="icon-thumbnail "><i class="fa fa-circle"></i></span>
    </li>

    <li>
      <%= link_to admin_genres_path do %>
        <span class="title">Genres</span>
      <% end %>
      <span class="icon-thumbnail "><i class="fa fa-inbox"></i></span>
    </li>

    <li>
      <%= link_to admin_record_formats_path do %>
        <span class="title">Record Formats</span>
      <% end %>
      <span class="icon-thumbnail "><i class="fa fa-music"></i></span>
    </li>

    <li>
      <%= link_to admin_record_types_path do %>
        <span class="title">Record Types</span>
      <% end %>
      <span class="icon-thumbnail "><i class="fa fa-cogs"></i></span>
    </li>

    <li>
      <%= link_to admin_users_path do %>
        <span class="title">Users</span>
      <% end %>
      <span class="icon-thumbnail "><i class="fa fa-users"></i></span>
    </li>
  </ul>
  
  <div class="clearfix"></div>
</div>
