<% title "Home menu", false %>

<!--************************** CONTENT -->
<!-- TAGLINE -->
<div class="tagline span8">
      <h3>Arrrrgh... see all me shiny records.</h3>
</div>
<!-- TAGLINE -->


<!-- SLIDER -->
<div id="slider" class="span12">
	<div id="carousel-gallery" class="touchcarousel  black-and-white">      
		<ul class="touchcarousel-container">
			<% Photo.random(50).each do |photo| %>
				<li class="touchcarousel-item">
					<a class="item-block" href="#">
						<%= image_tag photo.data(:medium), :size => '400x400' %>
					    <h4>Lorem Ipsum</h4>    
						<p>Dolor sit amet</p>
					</a>
				</li>
			<% end %>			
		</ul> 
	</div>
</div>
 <!-- SLIDER -->

<div class="span12">
	<% if user_signed_in? %>
	<h1><%= current_user.nickname.capitalize %>'s Record Command Center</h1>
	<h3>Where do you want to go today?</h3>

	<ul>
		<li><%= link_to 'Manage my Collection (Add/Edit some new records)', records_path %></li>
		<li><%= link_to 'Search the Cyberguides Price list', prices_path %></li>
		<li><%= link_to 'Add a new Price to the Cyberguides Price list', new_price_path %></li>
		<li>Sell my records on the Ebay (coming soon)</li>
		<li>Add records to my online store (coming soon)</li>
	</ul>
	<% else %>

	<h1>You are not currently logged in... please do so.</h1>

	<% end %>

</div>
