<% title "Home menu", false %>

<!--************************** CONTENT -->
<!-- TAGLINE -->
<div class="tagline span8">
      <h3>Hi, we are responsy, a highly creative agency.</h3>
</div>
<!-- TAGLINE -->


<!-- SLIDER -->
<div class="flex-container main-slider main-slider-narrow span12">
   <div class="flexslider">
     <ul class="slides">
		<% Photo.last(5).each do |photo| %>
         <li>
			<%= image_tag photo.data(:medium), :size => '1170x430', :alt => 'slide' %>
			<h2 class="flex-caption">We have <b>creative</b> ideas!</h2>
         </li>
		<% end %>
     </ul>
   </div>
 </div>
 <!-- SLIDER -->

<div class="span12">
	<% if user_signed_in? %>
	<h1><%= current_user.nickname.capitalize %>'s Record Command Center</h1>
	<h3>Where do you want to go today?</h3>

	<ul>
		<li><%= link_to 'Manage my Collection (Add/Edit some new records)', records_path %></li>
		<li><%= link_to 'Search the Cyberguides Price list', prices_path %></li>
		<li><%= link_to 'Add a new Price to the Cyberguides Price list', new_price_path %></li>
		<li>Sell my records on the Ebay (coming soon)</li>
		<li>Add records to my online store (coming soon)</li>
	</ul>
	<% else %>

	<h1>You are not currently logged in... please do so.</h1>

	<% end %>

</div>
