<% price = nil if !defined?(price) %>

<%= simple_form_for [price, record] do |record_form| %>
  <div class="container p-t-md">
    <div class="<%= 'row' if record_form.object.new_record? %>">
      <div class="<%= 'col-md-6 col-md-offset-3' if
        record_form.object.new_record? %>">

        <%= render 'application/error_messages', object: record %>

        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="m-t-0 m-b-0" style="display: inline-block; padding-top: 5px;">
              Record
            </h4>

            <span class="pull-right">
              <%= record_form.button :submit,
                class: "btn btn-primary-outline btn-sm" %>

              <% if user_signed_in? && @record.user == current_user &&
                record_form.object.persisted? %>

                <%= link_to "Delete", record_path(@record), method: :delete,
                  class: "btn btn-danger-outline btn-sm",
                  data: { confirm: 'Are you sure?' } %>
              <% end %>

              <% unless record_form.object.new_record? %>
                <%= link_to "Back", (
                  price.present? ? price_path(price) : record_path(record)
                  ), class: "btn btn-sm btn-default-outline" %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>

    <% if price.present? %>
      <%= render 'price_info', f: record_form, price: price %>
    <% end %>

    <div class="row">
      <div class="<%= record_form.object.new_record? ?
        'col-md-6 col-md-offset-3' : 'col-md-4' %>">

        <div class="panel panel-default panel-profile">
          <div class="panel-body">
            <h5 class="m-t-0">Record Info</h5>

            <%= record_form.input :identifier_id, label: 'Identifier ID' %>
            <%= record_form.input :value, label: "Your price" %>

            <%= record_form.input :condition,
              collection: Record.conditions.keys.map { |key|
                [condition_formatter(key), key]
              },
              input_html: {
                id: 'record-condition',
                class: 'selectize_remote' } %>

            <%= record_form.association :genre,
              input_html: { class: 'selectize_remote' } %>

            <% unless price.present? %>
              <%= record_form.association :record_format,
                input_html: { class: 'selectize_remote' } %>
            <% end %>

            <%= record_form.input :comment, as: :text,
              input_html: { rows: 2, style: "resize:vertical" } %>
          </div>
        </div>
      </div>

      <% if record_form.object.persisted? %>
        <div class="col-md-8">
          <%= render 'records/assets/dropzones_panel', f: record_form %>
          <%= render 'records/assets/photos_panel', f: record_form %>
          <%= render 'records/assets/songs_panel', f: record_form %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
