<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

<script>	
	$(function() {
		$('#organize_photos').sortable({
			update: function() {
		  		$.post('<%=url_for sort_record_photos_path(@record)%>', '_method=put&authenticity_token='+AUTH_TOKEN+'&'+$(this).sortable('serialize'));
			}
		});
		
		$('#organize_photos').disableSelection();		
		var toggleLoading = function() { $("#loading").toggle() };		
		$('.delete_photo').bind('ajax:success', function() {
				$(this).closest('li').fadeOut();
		});
	});
</script>

<p>You can organize photos by simple dragging them into place.</p>

<ul id="organize_photos" class="photo_arrange">	
	<% for photo in @record.photos.all(:order => :position) %>
 		<%= content_tag_for :li, photo do %>
			<span class="handle">[drag]</span>
			<%= link_to "delete", record_photo_path(@record,photo), :method => :delete, :confirm => "Are you sure?", :remote => true, :class=>'delete_photo' %>
			<%= link_to image_tag(photo.data.url(:thumb)), edit_record_photo_path(@record,photo) %>
  		<% end %>
   	<% end %>
</ul>

<div class="clear"></div>

<div class="loading" style="display:none;">Loading...</div>