<div class="nested-fields" id="photo_<%= f.object.id %>">
  <div class="row"
    style="padding-left:15px !important; padding-right:15px !important;">
    <div class="pull-left">
      <% if f.object.persisted? %>
        <%= image_tag attachment_url(f.object, :image, :fill, 64, 64),
          class: 'img-responsive' %>
      <% else %>
        <%= f.attachment_field :image, direct: true, class: 'p-t' %>
      <% end %>
    </div>

    <div class="pull-right p-t">
      <%= link_to_remove_association f,
        class: 'btn btn-xs btn-default' do %>
        <%= icon 'close' %>
      <% end %>
    </div>
  </div>
</div>
