<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Cover</th>

        <% unless object.is_a?(Artist) %>
          <th><%= sort_link q, :artist_name, "Artist" %></th>
        <% end %>

        <% unless object.is_a?(Label) %>
          <th><%= sort_link q, :label_name, "Label" %></th>
        <% end %>

        <th>Comment</th>

        <% unless object.is_a?(Genre) %>
          <th><%= sort_link q, :genre_name, "Genre" %></th>
        <% end %>

        <th>Format</th>
        <th>Condition</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% records.each do |record| %>
        <tr>
          <td><%= photo_link_helper(record, 50, 50) %></td>

          <% unless object.is_a?(Artist) %>
            <td>
              <%= presence_or record.artist, 'No artist' do
                link_to record.artist_name, artist_path(record.artist)
              end %>
            </td>
          <% end %>

          <% unless object.is_a?(Label) %>
            <td>
              <%= presence_or record.label, 'No label' do
                link_to record.label_name, label_path(record.label)
              end %>
            </td>
          <% end %>

          <td><%= record.comment %></td>

          <% unless object.is_a?(Genre) %>
            <td>
              <%= presence_or record.genre, 'No genre' do
                link_to record.genre_name, genre_path(record.genre)
              end %>
            </td>
          <% end %>

          <td><%= record.record_format_name %></td>
          <td><%= condition_formatter(record.condition) %></td>
          <td><%= price_price_range(record.price) %></td>
          <td>
            <%= link_to record_path(record) do %>
              <span class="icon icon-magnifying-glass"></span>
            <% end %>

            <%= presence_or record.songs do
              link_to(
                record.songs.first.title,
                Refile.attachment_url(record.songs.first, :audio),
                class: 'sm2_button'
              )
            end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
