<% title "Editing record" %>

<% form_for(@record, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
<p>
  <b>Artist:</b>
  <%=h @record.price.name %>
</p>

<p>
  <b>Label:</b>
  <%=h @record.label.name %>
</p>

<p>
  <b>Format:</b>
  <%= @record.price.media_type %>
</p>
<p>
  <b>Detail:</b>
  <%= @record.price.detail %>
</p>
<p>
  <b>Condition & Genre:</b><br>
	<%= f.select(:condition, @record.get_condition) %>
    <%= f.select(:genre_id, Genre.all.collect {|p| [ p.name, p.id ] }, { :prompt => true }) %>
</p>

<p><br><br>


<b>Attachments:</b><br>
	<% @record.photos.each do |photo| %>
		<% unless photo.nil? %>
			<%= link_to image_tag(photo.data.url(:thumb)), photo.data.url(:medium) %>
			<%= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete %><br>
			<br />
		<% end %>
	<% end %>
	
	<% @record.songs.each do |song| %>
		<% unless song.nil? %>
			<%#= render :partial => 'jplayer' %>
			<%= song.mp3_file_name %>
			<%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete %><br>
			<br />
		<% end %>
	<% end %>
	
  <div id="photos">

  </div>
  <%= add_object_link("New Photo", f, @record.photos.build, "photo", "#photos") %>

  <div id="songs">
	
  </div>
  <%= add_object_link("New Song", f, @record.songs.build, "song", "#songs") %>

</p>
  <p>
    <%= f.label :value, "My Value" %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :identifier_id %><br />
    <%= f.text_field :identifier_id %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>


    <%= f.hidden_field :user_id %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @record %> |
<%= link_to 'Back', records_path %>
