<% title "Editing record" %>

<%= form_for(@record, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
<p>
  <b>Artist:</b>
  <%= @record.price.cache_artist %>
</p>

<p>
  <b>Label:</b>
  <%= @record.label.name %>
</p>

<p>
  <b>Format:</b>
  <%= @record.price.media_type %>
</p>
<p>
  <b>Detail:</b>
  <%= @record.price.detail %>
</p>
<p>
  <b>Condition &amp; Genre:</b><br>
	<%= f.select(:condition, @record.get_condition) %>
    <%= f.select(:genre_id, Genre.all.collect {|p| [ p.name, p.id ] }, { :prompt => true }) %>
</p>
<b>Photos:</b><br>
	<% unless @record.photos.blank? %>
		<div id="sortable_photos">
			<%= render :partial => 'photos' %>
		</div>
	<% end %>

<%= f.fields_for :photos, @record.photos.build do |photo_form| %>
	<%= photo_form.file_field :data, :class => 'uploadifiable_photos' %>
<% end %>

<%= render :partial => 'uploadify_photos' %>

<br /><b>Songs:</b><br>
	<% unless @record.songs.blank? %>
		<div id="sortable_songs">
			<%= render :partial => 'songs' %>
		</div>
	<% end %>


<%= f.fields_for :songs, @record.songs.build do |song_form| %>
	<%= song_form.file_field :data, :class => 'uploadifiable_songs' %>
<% end %>

<%= render :partial => 'uploadify_songs' %>


  <p>
    <%= f.label :value, "My Value" %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :identifier_id %><br />
    <%= f.text_field :identifier_id %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>


    <%= f.hidden_field :user_id %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @record %> |
<%= link_to 'Back', records_path %>
