<script type="text/javascript" charset="utf-8">
	function toggleSearch() {
		$( "#simple_form" ).toggle();
		$( "#advanced_form" ).toggle();
	}
	
	$(document).ready(function() {
	  	$('.advanced_search').click(function() {
			toggleSearch();
			return false;
		});
	});
</script>

<% title "Records", false %>

<h1><%= current_user.nickname.capitalize %>'s Current Records</h1>
<h4>This is the overview of your current collection</h4>

<div id="simple_form" style="display:none;">
	<%= render :partial => 'searches/form' %>
</div>

<div id="advanced_form">
	<%= render :partial => 'filter' %>
</div>

<table id="mytable" cellspacing="0" class="pretty" summary="My Ultimate Collection of Records">
<caption><%= page_entries_info @records %></caption>
  <tr>
	<th scope="col" abbr="Artist" class="nobg"><%= sortable "cached_artist", "Artist" %></th>
    <th scope="col" abbr="Label"><%= sortable "cached_label", "Label" %></th>
    <th scope="col" abbr="Format">Format</th>
	<th scope="col" abbr="Identifier"><%= sortable "identifier_id", "UID" %></th>
    <th scope="col" abbr="Details">Details</th>
    <th scope="col" abbr="My Value"><%= sortable "value" %></th>
    <th scope="col" abbr="Cyberguide Value">Guide</th>
	<th scope="col" abbr="Genre"><%= sortable "genre_id" %></th>
	<th scope="col" abbr="Image?">XTRA</th>
    <th colspan="3">Actions</th>
  </tr>

<% for record in @records %>
  <tr>
	<th scope="row" abbr="Artist" class="<%= cycle("spec", "specalt") -%>"><%= link_to record.artist.name, records_path + '?artist='+ record.artist.name %><br /><%= thumbnail_tag(record.cover_photo) %></td>
	<td class="<%=current_cycle%>"><%= record.price.label %></td>
    <td class="<%=current_cycle%>"><%= record.price.format %></td>
	<td class="<%=current_cycle%>"><%= record.identifier_id %></td>
    <td class="<%=current_cycle%>"><%= truncate(record.desc, :length => 50) %></td>
    <td class="<%=current_cycle%>"><%= real_currency(record.value) %></td>
    <td class="<%=current_cycle%>"><%= real_currency(record.cyberguide) %></td>
	<td class="<%=current_cycle%>"><%= record.genre.name %></td>
	<td class="<%=current_cycle%>"><% if record.photos.last != nil %><%=image_tag("image-icon.png")%><% end %><% if record.songs.last != nil %><%=image_tag("Play-Pressed-icon.png")%><% end %></td>
    <td class="<%=current_cycle%>"><%= link_to 'Show', record %></td>
    <td class="<%=current_cycle%>"><%= link_to 'Duplicate', :controller => :records, :action => :new, :id => record.price.id %></td>
  </tr>
<% end %>

<tr>
	<th>Totals</th>
	<td></td>
	<td></td>
	<td></td>
	<% if @myvalue != 0 %>
		<td colspan=2><strong><%= number_to_currency(@myvalue) %></strong></td>
	<% end %>
</tr>
</table>

<br />
<div class="digg_pagination">
  <div clas="page_info">
    <%= page_entries_info @records %>
  </div>
  <%= will_paginate @records, :container => false %>
</div><br>

<%= link_to 'New record', prices_path %>
