<% title "Records", false %>

<section class="middle row">

	<div class="span8">
	     <!-- PAGE HEADER -->
	    <div class="page-header">
	        <h1><b>SEARCH</b> <small><%= page_entries_info(@records).html_safe %></small></h1>
	    </div>
	</div>

	<!--************************** SIDEBAR -->
	<aside class="span4 content sidebar">

	<!-- InstanceBeginEditable name="SidebarContent" -->
	
	    <!-- SEARCH - WIDGET -->
	    <div class="search-widget clearfix">
			<%= semantic_form_for @search, :url => records_path, :html => {:method => :get} do |f| %>
				<div class="input-append">
					<%= f.input :cached_label_or_cached_artist_or_comment_contains, :label => false, :input_html => { :placeholder => "Enter keyword..." } %>
				</div>
			<% end %>
	    </div>

	    <!-- SEARCH - WIDGET -->
	</aside>


	<div id="search-widget" class="span2">
        <!-- TOGGLE -->
        <div class="toggle accordion">
            <!-- ACCORDION GROUP -->
            <div id="genre" class="accordion-group">
              <!-- ACCORDION CONTENT -->
              <div class="accordion-heading">
                <a class="accordion-toggle">
                  <i class="icon-active icon-chevron-down"></i><i class="icon-passive icon-chevron-right"></i>Genres
                </a>
              </div>
              <!-- ACCORDION CONTENT -->
              <div style="display: none;" class="accordion-body">
                <div class="accordion-inner">
				  	<ul class="list plus">
					  <% Genre.all.each do |genre| %>
						<% genre_size= @virgin.joins(:genre).where("genres.id = ?", genre.id).size %>
						<% unless genre_size == 0 %>
                        	<li>
								<%= link_to genre.name, params.merge(:genre_id_eq => genre.id) %>
								<%#= link_to genre.name, { :search => params[:search].merge(:genre_id_eq => genre.id) } %> (<%= genre_size %>)
								<%# if params[:search][:genre_id_eq] == "#{genre.id}" %>
									<%#= link_to "Clear", params.merge(params[:search][:genre_id_eq] = nil) %>
								<%# end %>
							</li>
						<% end %>
					  <% end %>
                    </ul>
                </div>
              </div>
              <!-- ACCORDION CONTENT -->
            </div>
            <!-- ACCORDION GROUP -->
        </div>
        <!-- TOGGLE --> 


         <!-- TOGGLE -->
         <div class="toggle accordion">

             <!-- ACCORDION GROUP -->
             <div id="format" class="accordion-group">

               <!-- ACCORDION CONTENT -->
               <div class="accordion-heading">
                 <a class="accordion-toggle">
                   <i class="icon-active icon-chevron-down"></i><i class="icon-passive icon-chevron-right"></i>Format
                 </a>
               </div>
               <!-- ACCORDION CONTENT -->

               <!-- ACCORDION CONTENT -->
               <div class="accordion-body" style="display: none;">
                 <div class="accordion-inner">
				  	<ul class="list plus">
					  <% RecordFormat.all.each do |format| %>
						<% format_size= @virgin.joins(:price).where("prices.record_format_id = ?", format.id).size %>
						<% unless format_size == 0 %>
                        	<li>
								<%= link_to format.name, params.merge(:record_format_id_eq => format.id) %>
								<%#= link_to genre.name, { :search => params[:search].merge(:genre_id_eq => genre.id) } %> (<%= format_size %>)
								<%# if params[:search][:genre_id_eq] == "#{genre.id}" %>
									<%#= link_to "Clear", params.merge(params[:search][:genre_id_eq] = nil) %>
								<%# end %>
							</li>
						<% end %>
					  <% end %>
                    </ul>
                 </div>
               </div>
               <!-- ACCORDION CONTENT -->

             </div>
             <!-- ACCORDION GROUP -->

         </div>
         <!-- TOGGLE --> 

    </div>

	<div class="span10">
	
		<div class="portfolio-items isotope" id="portfolio" style="position: relative; overflow: hidden; height: 708px;">
		
			<% @records.each do |record| %>
		        <div class="item design isotope-item" style="position: absolute; left: 0px; top: 0px; -moz-transform: translate(0px, 0px);">
		          <div class="media-box">
					  <%= thumb_tag(record) %>
		              <div class="mask" style="display: none;">
		                  <h3 class="title">see record details</h3>
						  <%= link_to "", artist_record_path(record.artist,record), :class => "ico full" %>
		              </div>
		          </div>
		          <h3 class="project-title"><%= link_to record.cached_artist, artist_path(record.artist) %></h3>
		          <p class="category"><%= truncate(record.notes, :length => 75) %></p>
		        </div>
			<% end %>



		</div>
	
	</div>
	
</section>