
<h1><%=h current_user.nickname.capitalize %>'s Current Records</h1>
<h4>This is the overview of your current collection</h4>


<% form_tag records_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :artist, params[:artist] %>
		<%= submit_tag "Search", :name => nil %>
		<%= link_to 'Advanced Search', new_search_path %>
	</p>
<% end %>

<table id="mytable" cellspacing="0" summary="My Ultimate Collection of Records">
<caption>

<% if params[:artist] %>
	Current View: Search Results for "<%= params[:artist] %>"
<% else %>
	Current View:  My Entire Collection
<% end %>
</caption>
  <tr>
	<th scope="col" abbr="Artist" class="nobg">Artist</th>
    <th scope="col" abbr="Label">Label</th>
    <th scope="col" abbr="Format">Format</th>
    <th scope="col" abbr="Details">Details</th>
    <th scope="col" abbr="My Value">My Value</th>
    <th scope="col" abbr="Cyberguide Value">Guide</th>
	<th scope="col" abbr="Image?">IMG</th>
    <th colspan="3">Actions</th>
  </tr>

<% for record in @records %>
  <tr>
	<th scope="row" abbr="Arist" class="<%= cycle("spec", "specalt") -%>"><%= link_to record.artist.name, records_path + '?artist='+ record.artist.name %></td>
	<td class="<%=current_cycle%>"><%=h record.price.label %></td>
    <td class="<%=current_cycle%>"><%=h record.price.format %></td>
    <td class="<%=current_cycle%>"><%=h record.price.detail %> <%=h record.price.footnote %></td>
    <td class="<%=current_cycle%>"><%= number_to_currency record.value %></td>
    <td class="<%=current_cycle%>"><%= record.cyberguide %></td>
	<td class="<%=current_cycle%>"><% if record.photos.last != nil %><%=image_tag("image-icon.png")%><% end %><% if record.songs.last != nil %><%=image_tag("Play-Pressed-icon.png")%><% end %></td>
    <td class="<%=current_cycle%>"><%= link_to 'Show', record %></td>
    <td class="<%=current_cycle%>"><%= link_to 'Duplicate', :controller => :records, :action => :new, :id => record.price.id %></td>
  </tr>
<% end %>

<tr>
	<th>Totals</th>
	<td></td>
	<td></td>
	<td></td>
	<% if @myvalue != 0 %>
		<td><strong><%= number_to_currency(@myvalue) %></strong></td>
		<td><strong><%= number_to_currency(@hisvalue) %></strong></td>
	<% end %>
</tr>
</table>

<br />
<div class="digg_pagination">
  <div clas="page_info">
    <%= page_entries_info @records %>
  </div>
  <%= will_paginate @records, :container => false %>
</div><br>

<%= link_to 'New record', prices_path %>
