<% breadcrumb :records %>

<% content_for :page_title do %>
  <%= @records.model_name.plural.humanize %>
<% end %>

<% content_for :header_links do %>
  <span class="pull-right">
    <%= link_to "New", new_record_path,
      class: 'btn btn-primary-outline btn-sm' %>
  </span>
<% end %>

<div class="container p-t-md">
  <%= render 'shared/header_panel' %>

  <div class="row">
    <div class="col-md-3">
      <%= render 'records/search_panel/search_box', q: @q %>
    </div>

    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <small class="pull-right">
            <%= page_entries_info @records %>
          </small>
          <h5 class="m-t-0">Results <small>
            <%= link_to 'export to csv', url_for(params.merge(:format => :csv)) %>
          </small></h5>

          <%= render 'records/records_table',
            records: @records, object: @records, q: @q %>
        </div>

        <div class="text-center">
          <%= paginate @records %>
        </div>
      </div>
    </div>
  </div>
</div>
