<% title "Records", false %>

<section class="middle row">

	<div class="span8">
	     <!-- PAGE HEADER -->
	    <div class="page-header">
	        <h1><b>WELCOME</b><small>to probably the largest private online record collection...</small></h1>
	    </div>
	</div>

	<!--************************** SIDEBAR -->
	<aside class="span4 content sidebar">

	<!-- InstanceBeginEditable name="SidebarContent" -->
	
	    <!-- SEARCH - WIDGET -->
	    <div class="search-widget clearfix">
			<%= form_for @search, :url => records_path, :html => {:method => :get} do |f| %>
				<%= f.text_field :cached_label_or_cached_artist_or_comment_contains %>
			<% end %>
	    </div>
	    <!-- SEARCH - WIDGET -->
	</aside>


	<div class="span2">

         <!-- TOGGLE -->
         <div class="toggle accordion">

             <!-- ACCORDION GROUP -->
             <div class="accordion-group">

               <!-- ACCORDION CONTENT -->
               <div class="accordion-heading">
                 <a class="accordion-toggle">
                   <i class="icon-active icon-chevron-down"></i><i class="icon-passive icon-chevron-right"></i>Genres
                 </a>
               </div>
               <!-- ACCORDION CONTENT -->

               <!-- ACCORDION CONTENT -->
               <div style="display: none;" class="accordion-body">
                 <div class="accordion-inner">
                   fsdfsdfsd
                 </div>
               </div>
               <!-- ACCORDION CONTENT -->

             </div>
             <!-- ACCORDION GROUP -->


         </div>
         <!-- TOGGLE --> 


         <!-- TOGGLE -->
         <div class="toggle accordion">

             <!-- ACCORDION GROUP -->
             <div class="accordion-group">

               <!-- ACCORDION CONTENT -->
               <div class="accordion-heading">
                 <a class="accordion-toggle">
                   <i class="icon-active icon-chevron-down"></i><i class="icon-passive icon-chevron-right"></i>Toggle 2
                 </a>
               </div>
               <!-- ACCORDION CONTENT -->

               <!-- ACCORDION CONTENT -->
               <div class="accordion-body" style="display: none;">
                 <div class="accordion-inner">
                   enim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                 </div>
               </div>
               <!-- ACCORDION CONTENT -->

             </div>
             <!-- ACCORDION GROUP -->

         </div>
         <!-- TOGGLE --> 

    </div>

	<div class="span10">
	
		<div class="portfolio-items isotope" id="portfolio" style="position: relative; overflow: hidden; height: 708px;">
		
			<% @records.each do |record| %>
		        <div class="item design isotope-item" style="position: absolute; left: 0px; top: 0px; -moz-transform: translate(0px, 0px);">
		          <div class="media-box">
					  <%= thumb_tag(record) %>
		              <div class="mask" style="display: none;">
		                  <h3 class="title">see project details</h3>
		                  <a class="ico full" href="portfolio-single-gallery.html"></a>
		              </div>
		          </div>
		          <h3 class="project-title"><%= record.cached_artist %></h3>
		          <p class="category"><%= truncate(record.comment, :length => 75) %></p>
		        </div>
			<% end %>



		</div>
	
	</div>
	
</section>