<script type="text/javascript" charset="utf-8">
	function toggleSearch() {
		$( "#simple_form" ).toggle();
		$( "#advanced_form" ).toggle();
	}
	
	$(document).ready(function() {
	  	$('.advanced_search').click(function() {
			toggleSearch();
			return false;
		});
	});
</script>

<% title "Records", false %>

<h4>This is the overview of the current collection</h4>

<div id="simple_form" style="display:none;">
	<%= render :partial => 'searches/form' %>
</div>

<div id="advanced_form">
	<%= render :partial => 'filter' %>
</div>

<table id="mytable" cellspacing="0" class="pretty" summary="My Ultimate Collection of Records">
<caption><%= page_entries_info @records %></caption>
  <tr>
	<th scope="col" abbr="Artist" class="nobg"><%= sortable "cached_artist", "Artist" %></th>
    <th scope="col" abbr="Label"><%= sortable "cached_label", "Label" %></th>
    <th scope="col" abbr="Format">Format</th>
	<th scope="col" abbr="Identifier"><%= sortable "identifier_id", "UID" %></th>
    <th scope="col" abbr="Details">Details</th>
<% if can? :manage, @record %>
    <th scope="col" abbr="My Value"><%= sortable "value" %></th>
    <th scope="col" abbr="Cyberguide Value">Guide</th>
<% end %>
	<th scope="col" abbr="Genre"><%= sortable "genre_id" %></th>
	<th scope="col" abbr="Image?">XTRA</th>
	<% if can? :manage, @record %>
    	<th colspan="3">Actions</th>
	<% else %>
		<th colspan="2">Actions</th>
	<% end %>
  </tr>

<% for record in @records %>
  <tr>
	<th scope="row" abbr="Artist" class="<%= cycle("spec", "specalt") -%>"><%= link_to record.artist.name, records_path(:artist_id => record.artist.id) %><br /><%= thumbnail_tag(record.cover_photo) %></td>
	<td class="<%=current_cycle%>"><%= link_to record.price.label, records_path(:label_id => record.label.id) %></td>
    <td class="<%=current_cycle%>"><%= record.price.media_type %></td>
	<td class="<%=current_cycle%>"><%= record.identifier_id %></td>
    <td class="<%=current_cycle%>"><%= truncate(record.desc, :length => 50) %></td>
<% if can? :manage, @record %>
    <td class="<%=current_cycle%>"><%= real_currency(record.value) %></td>
    <td class="<%=current_cycle%>"><%= real_currency(record.cyberguide) %></td>
<% end %>
	<td class="<%=current_cycle%>"><%= record.genre.name %></td>
	<td class="<%=current_cycle%>"><% if record.photos.last != nil %><%=image_tag("image-icon.png")%><% end %><% if record.songs.last != nil %><%=image_tag("Play-Pressed-icon.png")%><% end %></td>
    <td class="<%=current_cycle%>"><%= link_to 'Show', artist_record_path(record.artist,record) %></td>
    <% if can? :manage, @record %>
		<td class="<%=current_cycle%>"><%= link_to 'Duplicate', :controller => :records, :action => :new, :id => record.price.id %></td>
  	<% end %>
  </tr>
<% end %>

<% if can? :manage, @record %>
	<tr>
		<th>Totals</th>
		<td></td>
		<td></td>
		<td></td>
	
			<td colspan=2><strong><%= number_to_currency(@myvalue) %></strong></td>
	
	</tr>
<% end %>
</table>

<br />
<div class="digg_pagination">
  <div clas="page_info">
    <%= page_entries_info @records %>
  </div>
  <%= will_paginate @records, :container => false %>
</div><br>

<% if can? :create, @record %>
	<%= link_to 'New record', prices_path %> | 
	<%= link_to "Download to Excel", "#{request.fullpath}" %>
<% end %>
