<div class="span3">
	<%= render 'filters' %>
</div>

<div class="span9">

	<p><%= page_entries_info @records %></p>

	<% @records.each do |record| %>
		<% unless record.cover_photo.blank? %>
			<%= image_tag record.cover_photo %>
		<% end %>
		<%= record.artist.name %>
		<%= record.label.name %>
		<%#= record.desc %>
	<% end %>

	<%= paginate @records %>
</div>