<% breadcrumb :records %>

<h2 class="page-title">Records</h2>
<h3>Record Index</h3>
<ul class="records">
  <% @records.each do |record| %>
    <li class="record">
      <%= link_to(image_tag(attachment_url(record.photos.first, :image, :fill, 250, 200)), record) unless record.photos.blank? %><br/>
      <%= link_to record.artist.name, record.artist, class: 'table-link' %><br/>
      <%= link_to(record.label.name, record.label, class: 'table-link') if record.label %><br/>
      <%= record.genre.name %><br/>
      <%= record.record_format.name %><br/>
      <%= record.get_condition %><br/>
      <span class="description"><%= truncate(record.desc, :length => 75) %></span><br/>
      <%= link_to('show', record)  if record.photos.blank? %>
    </li>
  <% end %>
</ul>
<div class="pagination">
  <%= paginate @records %>
  <%= page_entries_info @records %>
</div>