<h1>New record</h1>

<% form_for(@record, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %> 

<% if params[:id] %>
<ul>
	<li class="inline"><%=h @price.artist %></li>
	<li class="inline"><%=h @price.label %></li>
	<li class="inline"><%=h @price.format %></li>
	<li class="inline"><%=h @price.detail %></li>
    <li class="inline">$<%=h @price.price_range %></li>
    <li class="inline"><%=h @price.date_range %></li>
</ul>

	<%= f.hidden_field :artist_id, :value => @price.artist_id %>

<% end %>  

  <p>
    <%= f.hidden_field :price_id, :value => params[:id] %>
  </p>
  <p>
    <%= f.label :genre %><br />
    <% if params[:genre] %>
      <%=f.select(:genre, @record.get_genre.sort, { :include_blank => true }, { :selected => params[:genre] } ) %>
	<% else %>
	  <%=f.select(:genre, @record.get_genre.sort, { :include_blank => true } ) %>
	<% end %>
  </p>
  <p>
    <%= f.label :condition %><br />
    <%=f.select(:condition, @record.get_condition, {:include_blank => true}) %>
  </p>
  <p>
  <div id="photos">

  </div>
  <%= add_object_link("New Photo", f, @record.photos.build, "photo", "#photos") %>

  <div id="songs">
	
  </div>
  <%= add_object_link("New Song", f, @record.songs.build, "song", "#songs") %>

  </p><br><br>
    <%= f.label :value %><br />
	<% if params[:id] %>
		<%= f.text_field :value, :value => "#{@price.pricehigh}" %>
	<% else %>
    	<%= f.text_field :value %>
	<% end %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
	<%= f.hidden_field :quantity, :value => 1 %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit "Create" %>

  </p>
<% end %>

<%= link_to 'Back', records_path %>
