<% breadcrumb :record, @record %>

<% content_for :page_title do %>
  <%= @record.try(:artist_name) %>
<% end %>

<% content_for :header_links do %>
  <span class="pull-right">
    <% if user_signed_in? && @record.user == current_user %>
      <%= link_to "Edit", edit_record_path(@record),
        class: "btn btn-primary-outline btn-sm" %>

      <%= link_to "Delete", record_path(@record), method: :delete,
        class: "btn btn-danger-outline btn-sm",
        data: { confirm: 'Are you sure?' } %>
    <% end %>

    <%= render 'shared/back_link',
      last_search_query: @last_search_query,
      path: records_path %>
  </span>
<% end %>

<div class="container p-t-md">
  <%= render 'shared/header_panel' %>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h5 class="m-t-0">Record Info</h5>

          <div class="row">
            <div class="col-xs-6">
              <dl>
                <dt>Artist</dt>
                <dd><%= @record.artist_name %></dd>
              </dl>
            </div>

            <div class="col-xs-6">
              <dl>
                <dt>Label</dt>
                <dd><%= @record.label_name %></dd>
              </dl>
            </div>

            <div class="col-xs-6">
              <dl>
                <dt>Genre</dt>
                <dd><%= @record.genre_name %></dd>
              </dl>
            </div>

            <div class="col-xs-6">
              <dl>
                <dt>Record type</dt>
                <dd>
                  <%= @record.record_format.record_type_name %>
                </dd>
              </dl>
            </div>

            <div class="col-xs-6">
              <dl>
                <dt>Condition</dt>
                <dd><%= @record.get_condition %></dd>
              </dl>
            </div>

            <div class="col-xs-6">
              <dl>
                <dt>Format</dt>
                <dd><%= @record.record_format_name %></dd>
              </dl>
            </div>

            <% if user_signed_in? &&
                current_user == @record.user %>
              <div class="col-xs-6">
                <dl>
                  <dt>Current price</dt>
                  <dd><%= @record.value %></dd>
                </dl>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <%= render 'records/price_panels/record_show_price_info',
        record: @record %>

      <div class="panel panel-default">
        <div class="panel-body">
          <h5 class="m-t-0">Comment</h5>

          <% if @record.comment.present? %>
            <%= @record.comment %>
          <% else %>
            <em>No comment.</em>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h5 class="m-t-0">Photos</h5>

              <% if @record.photos.present? %>
                <div class="row">
                  <div class="slideshow-image">
                    <% @record.photos.each do |photo| %>
                      <div class="col-sm-3 m-b">
                        <%= photo_link_helper(photo, 200, 200) %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% else %>
                <em>No photos available.</em>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h5 class="m-t-0">Songs
                <% unless user_signed_in? %>
                  <small class="text-danger">
                    &middot; Log in to hear full songs
                  </small>
                <% end %>
              </h5>

              <% if @record.songs.present? %>
                <%= render 'player', songs: @record.songs %>
              <% else %>
                <em>No song clips available.</em>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
