<div class="container">
	<div class="spacer">
  		&nbsp;
	</div>


	<% @record.photos.each do |photo| %>
	
	<div class="float">
		<% if photo %>
			<%= link_to image_tag(photo.data.url(:small)), photo.data.url(:large) %><br />
		<% end %>
	</div>

	<% end %>
	
	<div class="spacer">
	  &nbsp;
	</div>

</div>

<p>
  <b>Artist:</b>
  <%= @record.artist.name %>
</p>

<p>
  <b>Label:</b>
  <%= @record.price.label %>
</p>

<p>
  <b>Date:</b>
  <% unless @record.price.date_range == 0 %>
	<%= @record.price.date_range %>
  <% else %>
	Unknown
  <% end %>
</p>

<p>
  <b>Format:</b>
  <%= @record.price.format %>
</p>

<% unless @record.songs.blank? %>

		<%#= mp3_player song.mp3.url %><%#= link_to 'Download', song.mp3.url %><br />
	
	<%= render :partial => 'jplayer' %>


<% end %>

<p>
  <b>Detail:</b>
  <%= @record.price.detail %>
</p>

<p>
  <b>Footnote:</b>
  <%= @record.price.footnote %>
</p>

<p>
  <b>Genre:</b>
  <%= @record.get_genre[@record.genre.to_i-1][0] %>
</p>

<p>
  <b>Condition:</b>
  <%= @record.get_condition[@record.condition.to_i-1][0] %>
</p>

<p>
  <b>Price Guide List Price:</b>
  $<%= @record.price.bubbles.last.low %>-<%= @record.price.bubbles.last.high %>
</p>

<p>
  <b>My Value:</b>
  $<%= @record.value %>
</p>

<p>
  <b>His Value:</b>
  $<%= @record.cyberguide %>
</p>

<p>
  <b>Comment:</b>
  <%= @record.comment %>
</p>


<p>
  <b>PriceGuide ID:</b>
  <%=link_to @record.price_id, price_path(@record.price_id) %>
</p>


<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Delete', record_path(@record), :method => :delete, :confirm => "Are you sure?" %> |
<%= link_to 'Share this record', new_recommendation_path(:record_id => @record) %> |
<%= link_to 'Back', records_path %>
