<%= content_for(:head) do %>

	<%= render :partial => 'meta' %>
	
<% end %>

<% title "#{@record.artist.name}" %>

<div class="container">

	<% @record.photos.each do |photo| %>	
		<div class="float">
			<% if photo %>
				<%= link_to image_tag(photo.data.url(:small)), photo.data.url(:large) %><br />
			<% end %>
		</div>
	<% end %>
	
	<div class="spacer"></div>

</div>

<p>
  <b>Artist:</b>
  <%= @record.artist.name %> 
	<% if @record.artist.freebase_id.blank? %>
		(<%= link_to "Add me", edit_artist_path(@record.artist) %>)
	<% else %>
		(<%= link_to "Edit me", edit_artist_path(@record.artist) %>)
	<% end %>
</p>

<small>
	<%= image_tag @record.artist.thumbnail if @record.artist.thumbnail %>
	<%= truncate(@record.artist.description, :length => 350) if @record.artist.description %>
</small>

<p>
  <b>Label:</b>
  <%= @record.label.name %> 
	<% if @record.label.freebase_id.blank? %>
		(<%= link_to "Add me", edit_label_path(@record.label) %>)
	<% else %>
		(<%= link_to "Edit me", edit_label_path(@record.label) %>)
	<% end %>
</p>

<small>
	<%= image_tag @record.label.thumbnail if @record.label.thumbnail %>
	<%= truncate(@record.label.description, :length => 350) if @record.label.description %>
</small>

<p>
  <b>Date:</b>
  <% unless @record.price.date_range == 0 %>
	<%= @record.price.date_range %>
  <% else %>
	Unknown
  <% end %>
</p>

<p>
  <b>Format:</b>
  <%= @record.price.format %>
</p>

<p>
  <b>Unique ID:</b>
  <%= @record.identifier_id %>
</p>

<% unless @record.songs.blank? %>

		<%#= mp3_player song.mp3.url %><%#= link_to 'Download', song.mp3.url %><br />
	
	<%= render :partial => 'jplayer' %>


<% end %>

<% unless @record.price.detail.blank? %>
<p>
  <b>Detail:</b>
  <%= @record.price.detail %>
</p>
<% end %>

<% unless @record.price.footnote.blank? %>
<p>
  <b>Footnote:</b>
  <%= @record.price.footnote %>
</p>
<% end %>

<p>
  <b>Genre:</b>
  <%= @record.genre.name %>
</p>

<p>
  <b>Condition:</b>
  <%= @record.get_condition[@record.condition.to_i-1][0] %>
</p>

<p>
  <b>Price Guide List Price:</b>
  $<%= @record.price.bubbles.last.low %>-<%= @record.price.bubbles.last.high %>
</p>

<p>
  <b>My Value:</b>
  $<%= @record.value %>
</p>

<p>
  <b>His Value:</b>
  $<%= @record.cyberguide %>
</p>

<p>
  <b>Comment:</b>
  <%= @record.comment %>
</p>


<p>
  <b>PriceGuide ID:</b>
  <%=link_to @record.price_id, price_path(@record.price_id) %>
</p>


<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Delete', record_path(@record), :method => :delete, :confirm => "Are you sure?" %> |
<%= link_to 'Share this record', new_recommendation_path(:record_id => @record) %> |
<%= link_to 'Back', records_path %>
