<% breadcrumb :show_record, @record, @price %>

<div class="record-info">
  <h2>Record #<%= @record.identifier_id %> details</h2>
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong> Price </strong></li>
            <li> User price </li>
            <% unless @record.price.nil? %>
              <li> Cyberguide </li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <li>&nbsp;</li>
            <li> <%= @record.value %> </li>
            <% unless @record.price.nil? %>
              <li> <%= @record.cyberguide %> </li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <td> <strong> Artist </strong> </td>
        <td> <%= link_to @record.artist.name, [:admin, @record.artist] %> </td>
      </tr>
      <tr>
        <td> <strong> Label </strong> </td>
        <td> <%= link_to @record.label.name, [:admin, @record.label] %> </td>
      </tr>
      <tr>
        <td> <strong> genre </strong> </td>
        <td> <%= @record.genre.name %> </td>
      </tr>
      <tr>
        <td> <strong> Format </strong> </td>
        <td> <%= @record.record_format.name %> </td>
      </tr>
      <tr>
        <td> <strong> Condition </strong> </td>
        <td> <%= @record.get_condition %> </td>
      </tr>
      <tr>
        <td> <strong> Comment </strong> </td>
        <td> <%= @record.comment %> </td>
      </tr>
    </tbody>
  </table>
</div>

<% if @record.photos.count > 0 %>
  <div id="record-photos">
    <% @record.photos.each do |photo| %>
      <%= image_tag attachment_url(photo, :image, :fill, 200, 200) %>
    <% end %>
  </div>
<% end %>

<% if @record.songs.count > 0 %>
  <div id="record-audio">
    <h3> Audio </h3>
    <%= render :partial => 'player', :locals => {:songs => @record.songs} %>
  </div>
<% end %>