<div class="container p-t-md">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4 class="m-t-0 m-b-0"
        style="display: inline-block; padding-top: 5px;">

        Record <%= "##{@record.id}" %>
      </h4>

      <span class="pull-right">
        <% if user_signed_in? && @record.user == current_user %>
          <%= link_to "Edit", edit_record_path(@record),
            class: "btn btn-primary-outline btn-sm" %>
        <% end %>

        <%= render 'shared/back_link',
          last_search_query: @last_search_query,
          path: records_path %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h5 class="m-t-0">Record Info</h5>

          <div class="row">
            <div class="col-sm-6">
              <dl>
                <dt>Artist</dt>
                <dd><%= @record.artist_name %></dd>
                <dt>Details</dt>
                <dd><%= @record.price_detail %></dd>
                <dt>Comment</dt>
                <dd><%= @record.comment %></dd>
                <dt>Label</dt>
                <dd><%= @record.label_name %></dd>
              </dl>
            </div>

            <div class="col-sm-6">
              <dl>
                <dt>Genre</dt>
                <dd><%= @record.genre_name %></dd>
                <dt>Format</dt>
                <dd><%= @record.record_format_name %></dd>
                <dt>Condition</dt>
                <dd><%= @record.get_condition %></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h5 class="m-t-0">Photos</h5>

              <% if @record.photos.present? %>
                <% @record.photos.each do |photo| %>
                  <div class="col-md-4">
                    <%= image_tag attachment_url(photo, :image, :fill, 200, 200),
                      class: 'img-responsive' %>
                  </div>
                <% end %>
              <% else %>
                <em>No photos available.</em>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h5 class="m-t-0">Songs</h5>

              <% if @record.songs.present? %>
                <div class="col-md-4">
                  <%= render 'player', songs: @record.songs %>
                </div>
              <% else %>
                <em>No song clips available.</em>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
