<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Artist</th>
        <th>Label</th>
        <th>Comment</th>
        <th>Genre</th>
        <th>Format</th>
        <th>Condition</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% records.each do |record| %>
        <tr>
          <td><%= photo_link_helper(record, 50, 50) %></td>
          <td><%= record.artist_name %></td>
          <td><%= record.label_name %></td>
          <td><%= record.comment %></td>
          <td><%= record.genre_name %></td>
          <td><%= record.record_format_name %></td>
          <td><%= record.get_condition %></td>
          <td><%= price_price_range(record.price) %></td>
          <td>
            <%= link_to record_path(record) do %>
              <span class="icon icon-magnifying-glass"></span>
            <% end %>

            <% if record.songs.present? %>
              <%= link_to record.songs.first.title,
                Refile.attachment_url(record.songs.first, :audio),
                class: 'sm2_button' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
