<%= search_form_for @search, builder: SimpleForm::FormBuilder, method: :put do |f| %>
  <h3>Filters</h3>
  <%= f.input :artist_name_eq, label: 'Artist', required: false, input_html: {id: 'filters-artist'} %>
  <%= f.input :label_name_eq, label: 'Label', required: false, input_html: {id: 'filters-label'} %>
  <%= f.input :record_format_id_eq, label: 'Record Format', collection: @record_formats, label_method: :name_with_prices_count, required: false %>

  <div class="form-group" id="price_high">
    <%= label_tag nil, 'Price high', class: 'control-label' %>
    <div>
      <div id="price-high-select">
        <%= select_tag "js_select_price_high", options_for_select(@price_collection, @price_high_selected), class: 'form-control js_select_price high' %>
      </div>
      <div id="price-high-inputs">
        <%= f.input :price_high_gt, label: false, input_html: {placeholder: 'greater than', class: 'control-label gt price'} %>
        <%= f.input :price_high_eq, label: false, input_html: {placeholder: 'equals', class: 'control-label eq price inactive', disabled: 'disabled'} %>
        <%= f.input :price_high_lt, label: false, input_html: {placeholder: 'lower than', class: 'control-label lt price inactive', disabled: 'disabled'} %>
      </div>
    </div>
  </div>

  <div class="form-group" id="price_low">
    <%= label_tag nil, 'Price low', class: 'control-label' %>
    <div>
      <div id="price-low-select">
        <%= select_tag "js_select_price_low", options_for_select(@price_collection, @price_low_selected), class: 'form-control js_select_price low' %>
      </div>
      <div id="price-low-inputs">
        <%= f.input :price_low_gt, label: false, input_html: {placeholder: 'greater than', class: 'control-label gt price'} %>
        <%= f.input :price_low_eq, label: false, input_html: {placeholder: 'equals', class: 'control-label eq price inactive', disabled: 'disabled'} %>
        <%= f.input :price_low_lt, label: false, input_html: {placeholder: 'lower than', class: 'control-label lt price inactive', disabled: 'disabled'} %>
      </div>
    </div>
  </div>

  <div class="action">
    <%= f.button :submit, 'Search' %>
    <%= link_to 'Reset', prices_path, class: 'pull-right btn btn-default' %>
  </div>
<% end %>
