<% div_for price do %>
<ul>
	<li class="inline"><%=h price.artist %></li>
	<li class="inline"><%=h price.label %></li>
	<li class="inline"><%=h price.format %></li>
    <li class="inline"><%=h price.detail %></li>
    <li class="inline"><%=h price.footnote %></li>
    <li class="inline">$<%=h price.price_range %></li>
    <li class="inline"><%=h price.date_range %></li>
	<li class="inline"><%= link_to "Add to Collection", :controller => 'records', :action => 'new', :id => price.id %></li>
	<li class="inline"><%= link_to "Details", price %></li>
	<% if price.created_by == current_user.login %>
		<li class="inline"><%= link_to "Edit", edit_price_path(price) %></li>
	<% end %>
		
</ul>
<% end %>
