<div class="container p-t-md">
  <div class="row">
    <div class="col-md-3">
      <%= render 'shared/search_box', q: @q,
        search_fields: {
          label_association: 'label',
          artist_association: 'artist',
          record_format_association: 'record_format'
        } %>
    </div>

    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <small class="pull-right">
            <%= page_entries_info @prices %>
          </small>
          <h5 class="m-t-0">Results <small><%#= link_to 'export to csv', url_for(params.merge(:format => :csv)) %></small></h5>

          <table class="table">
            <thead>
              <tr>
                <th>Artist</th>
                <th>Label</th>
                <th>Details</th>
                <th>Format</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @prices.each do |price| %>
                <tr>
                  <td><%= price.artist_name %></td>
                  <td><%= price.label_name %></td>
                  <td><%= price.detail %></td>
                  <td><%= price.record_format_name %></td>
                  <td>
                    <%= link_to price_path(price) do %>
                      <span class="icon icon-magnifying-glass"></span>
                    <% end %>

                    <%# if record.songs.present? %>
                      <%#= link_to record.songs.first.title,
                        Refile.attachment_url(record.songs.first, :audio),
                        class: 'sm2_button' %>
                    <%# end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="text-center">
          <%= paginate @prices %>
        </div>
      </div>
    </div>
  </div>
</div>
