<% breadcrumb :prices %>

<% content_for :page_title do %>
  <%= @prices.model_name.plural.humanize %>
<% end %>

<div class="container p-t-md">
  <%= render 'shared/header_panel' %>

  <div class="row">
    <div class="col-md-3">
      <%= search_form_for @q do |search_form| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <h5 class="m-t-0">Search</h5>

            <div class="form-group">
              <%= search_form.label :artist_id %>
              <%= search_form.select :artist_id_eq,
                @q.artist_id_eq.present? ?
                  Artist.where(id: @q.artist_id_eq).
                    map { |artist| [artist.name, artist.id] } :
                  [],
                {},
                { class: 'form-control selectize_remote',
                data: { remote_url: '/artists.json' } } %>
            </div>

            <div class="form-group">
              <%= search_form.label :label_id %>
              <%= search_form.select :label_id_eq,
                @q.label_id_eq.present? ?
                  Label.where(id: @q.label_id_eq).
                    map { |label| [label.name, label.id] } :
                  [],
                {},
                { class: 'form-control selectize_remote',
                data: { remote_url: '/labels.json' } } %>
            </div>

            <div class="form-group">
              <%= search_form.label "Record type",
                style: 'display: block;' %>

              <% RecordType.pluck(:name).each do |name| %>
                <label class="checkbox-inline">
                  <%= search_form.check_box(
                    :record_format_record_type_name_in,
                    { multiple: true }, name, nil) %>

                  <%= name %>
                </label>
              <% end %>
            </div>

            <div class="form-group">
              <%= search_form.label :record_format_id %>
              <%= search_form.collection_select :record_format_id_eq,
                RecordFormat.joins(:records).uniq, :id, :name,
                { include_blank: true },
                { class: 'form-control selectize_remote' } %>
            </div>

            <div class="form-group">
              <label>Price
                <small>( low - high )</small>
              </label>

              <div class="row">
                <div class="col-xs-6">
                  <%= search_form.number_field :price_low_gteq,
                    class: 'form-control' %>
                </div>

                <div class="col-xs-6">
                  <%= search_form.number_field :price_high_lteq,
                    class: 'form-control' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Year
                <small>( begin - end )</small>
              </label>

              <div class="row">
                <div class="col-xs-6">
                  <%= search_form.number_field :yearbegin_gteq,
                    class: 'form-control' %>
                </div>

                <div class="col-xs-6">
                  <%= search_form.number_field :yearend_lteq,
                    class: 'form-control' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= search_form.label :detail_id %>
              <%= search_form.search_field :detail_cont, class: 'form-control' %>
            </div>

            <%= search_form.submit 'Submit', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <small class="pull-right">
            <%= page_entries_info @prices %>
          </small>

          <h5 class="m-t-0">Results</h5>

          <table class="table">
            <thead>
              <tr>
                <th><%= sort_link @q, :artist_name, "Artist" %></th>
                <th><%= sort_link @q, :label_name, "Label" %></th>
                <th>Details</th>
                <th>Type</th>

                <th>
                  <%= sort_link @q, :price_low,
                    [:price_low, :price_high], "Price" %>
                </th>

                <th><%= sort_link @q, :yearbegin,
                  [:yearbegin, :yearend], "Year" %>
                </th>

                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @prices.each do |price| %>
                <tr>
                  <td><%= price.artist_name %></td>
                  <td><%= price.label_name %></td>
                  <td><%= price.detail %></td>
                  <td><%= price.record_format.record_type_name %></td>
                  <td><%= price_price_range(price) %></td>
                  <td><%= price_year_range(price) %></td>
                  <td>
                    <%= link_to price_path(price) do %>
                      <span class="icon icon-magnifying-glass"></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="text-center">
          <%= paginate @prices %>
        </div>
      </div>
    </div>
  </div>
</div>
