<% title "Search Priceguide", false %>

<h1>Search Osbourne's Cyberguide for Records</h1>

<%= form_tag prices_path, :method => :get, :remote => true do %>
	<table>
	  <tr>
		<th>Artist</th>
		<th>Label</th>
		<th>Format</th>
		<th>Details</th>
		<th colspan="2"># Results</th>
	  </tr>
	  <tr>
	
		<td><%= text_field_tag :name %></td>
		<td><%= text_field_tag :label %></td>
		<td><%= select_tag :media_type, options_for_select(["","Singles","LPs","EPs","Picture Sleeves"]) %></td>
		<td><%= text_field_tag :detail %></td>
		<td><%= select_tag :per_page, options_for_select(["10","20","50","100"]) %></td>

		<td><%= submit_tag "Search" %></td><div id="reqs_count"><%= @prices_raw %> Records</div><br>
	  </tr>
	</table>

<% end %>

<div id="busy" style="display:none;"><%= image_tag("/images/loading.gif") %></div>

<div id="reqs">
	
<% if params[:artist] %>

	<%= render :partial => 'prices' %>

<% else %>

	<br>Searches are good, try to be vague at first and narrow the search as you go along.  
	<br>You can always add more search criteria later.
	
<% end %>
</div>
<br>

<%= link_to 'Back to Your Records', records_path %> | 
<%= link_to 'Add a new Price to the Guide', new_price_path %>