<% breadcrumb :show_price, @price %>

<div id="price-info">
  <h2> Price info </h2>
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
    <tbody>
      <% if @price.price_range %>
        <tr>
          <td><strong> Price range </strong></td>
          <td><%= @price.price_range %> </td>
        </tr>
      <% end %>
      <% if @price.date_range %>
        <tr>
          <td>
            <strong> Date range </strong>
            <td><%= @price.date_range %></td>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><strong> Artist </strong></td>
        <td><%= link_to @price.artist.name, @price.artist %></td>
      </tr>
      <% if @price.label %>
        <tr>
          <td><strong> Label </strong></td>
          <td><%= link_to @price.label.name, @price.label %></td>
        </tr>
      <% end %>
      <tr>
        <td><strong> Format </strong></td>
        <td><%= @price.record_format.name %></td>
      </tr>
      <% if @price.footnote != "" and @price.footnote %>
        <tr>
          <td><strong> Footnote </strong></td>
          <td><%= @price.footnote %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div id="price-records">
  <h3>Price's records</h3>
  <% if @price.records.count > 0 %>
    <table>
      <thead>
        <tr>
          <th> Record ID </th>
          <th> Condition </th>
          <th> Username </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @price.records.each do |record| %>
          <tr>
            <td> <%= record.identifier_id or '-' %> </td>
            <td> <%= record.get_condition %> </td>
            <td> <%= record.user.nickname %> </td>
            <td> <%= link_to 'show', record %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>no records to show</p>
  <% end %>
</div>
