<% breadcrumb :price, @price %>

<% content_for :header_links do %>
  <span class="pull-right">
    <%= link_to "New Record", new_price_record_path(@price),
      class: "btn btn-primary-outline btn-sm" %>

    <%= render 'shared/back_link',
      last_search_query: @last_search_query,
      path: prices_path %>
  </span>
<% end %>

<div class="container p-t-md">
  <%= render 'shared/header_panel' %>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h5 class="m-t-0">Price Info</h5>

          <div class="row">
            <div class="col-xs-6">
              <dl>
                <dt>Price</dt>
                <dd><%= price_price_range @price %></dd>
              </dl>
            </div>

            <div class="col-xs-6">
              <dl>
                <dt>Year</dt>
                <dd><%= price_year_range @price %></dd>
              </dl>
            </div>

            <div class="col-xs-6">
              <dl>
                <dt>Record type</dt>
                <dd><%= @price.record_format.record_type_name %></dd>
              </dl>
            </div>

            <div class="col-xs-6">
              <dl>
                <dt>Format</dt>
                <dd><%= @price.record_format_name %></dd>
              </dl>
            </div>

            <div class="col-xs-6">
              <dl>
                <dt>Detail</dt>
                <dd>
                  <% if @price_detail.present? %>
                    <%= @price.detail %>
                  <% else %>
                    <em>No details.</em>
                  <% end %>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h5 class="m-t-0">
            Records
          </h5>

          <% if @price.records.present? %>
            <table class="table">
              <thead>
                <tr>
                  <th>Photo</th>
                  <th>Artist</th>
                  <th>Label</th>
                  <th>Genre</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @price.records.each do |record| %>
                  <tr>
                    <td>
                      <% if record.photos.present? %>
                        <%= image_tag attachment_url(record.photos.first, :image,
                          :fill, 30, 30), class: 'media-object',
                          data: { width: 30, height: 30 },
                          style: 'float:left;' %>
                      <% else %>
                        <em>No photos</em>
                      <% end %>
                    </td>

                    <td><%= record.artist_name %></td>
                    <td><%= record.label_name %></td>
                    <td><%= record.genre_name %></td>
                    <td>
                      <%= link_to record_path(record) do %>
                        <span class="icon icon-magnifying-glass"></span>
                      <% end %>

                      <%# if record.songs.present? %>
                        <%#= link_to record.songs.first.title,
                          Refile.attachment_url(record.songs.first, :audio),
                          class: 'sm2_button' %>
                      <%# end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <em>No records found.</em>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
