<div class="container p-t-md">
  <%= render 'layouts/message' %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h4 class="m-t-0 m-b-0"
        style="display: inline-block; padding-top: 5px;">

        <%= @price.artist_name %> -
        <%= @price.label_name %>
      </h4>

      <span class="pull-right">
        <%= link_to "New Record", new_price_record_path(@price),
          class: "btn btn-primary-outline btn-sm" %>

        <%= render 'shared/back_link',
          last_search_query: @last_search_query,
          path: prices_path %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h5 class="m-t-0">
            Price Info
          </h5>

          <dl>
            <dt>Price</dt>
            <dd>
              <%= price_range @price %>
            </dd>
          </dl>

          <dl>
            <dt>Year</dt>
            <dd>
              <%= date_range @price %>
            </dd>
          </dl>

          <dl>
            <dt>Record format</dt>
            <dd><%= @price.record_format_name %></dd>
          </dl>

          <dl>
            <dt>Details</dt>
            <dd><%= @price.detail %></dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <h5 class="m-t-0">
            Records
          </h5>

          <% if @price.records.present? %>
            <table class="table">
              <thead>
                <tr>
                  <th>Photo</th>
                  <th>Artist</th>
                  <th>Label</th>
                  <th>Genre</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @price.records.each do |record| %>
                  <tr>
                    <td>
                      <% if record.photos.present? %>
                        <%= image_tag attachment_url(record.photos.first, :image,
                          :fill, 30, 30), class: 'media-object',
                          data: { width: 30, height: 30 },
                          style: 'float:left;' %>
                      <% else %>
                        <em>No photos</em>
                      <% end %>
                    </td>

                    <td><%= record.artist_name %></td>
                    <td><%= record.label_name %></td>
                    <td><%= record.genre_name %></td>
                    <td>
                      <%= link_to record_path(record) do %>
                        <span class="icon icon-magnifying-glass"></span>
                      <% end %>

                      <%# if record.songs.present? %>
                        <%#= link_to record.songs.first.title,
                          Refile.attachment_url(record.songs.first, :audio),
                          class: 'sm2_button' %>
                      <%# end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <em>No records found.</em>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
