<% title "Search Results" %>

	<table>
	  <tr>
	    <th>Result</th>
		<th>Type</th>
		<th></th>
		<th></th>
		<th></th>
	  </tr>
	  <% for result in @search %>
	    <tr>
	      <td><%= result.term %></td>
	      <td><%= result.searchable_type %></td>
		  <td><%= result.rank %></td>
	      <td><%= link_to "Show Artist", :controller => result.searchable_type.pluralize.downcase, :action => :show, :id => result.searchable_id %></td>
		  <td><%= link_to "Records", records_path((result.searchable_type.downcase + "_id").to_sym => result.searchable_id) %></td>
	    </tr>
	  <% end %>

	</table>

<%#= link_to 'Back', new_search_path %>
