<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <%= image_tag('placeholder_logo_1.png', alt: 'Logo Image') %>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><%= link_to "Records", records_path %></li>
      <li><%= link_to "Artists", artists_path %></li>
      <li><%= link_to "Labels", labels_path %></li>
    </ul>
    <ul>
      <li><h3>About</h3></li>
      <li><%= link_to "About us", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><%= link_to "Terms and Conditions", '#' %></li>
      <li><%= link_to "Privacy Policy", '#' %></li>
    </ul>
  </div>

  <hr>

  <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
</footer>
