<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'bootstrap/brand-white.png', alt: 'brand' %>
      <% end %>
    </div>

    <div class="navbar-collapse collapse" id="navbar-collapse-main">
      <!-- Left side navbar -->
      <ul class="nav navbar-nav hidden-xs">
        <li><%= link_to "Records", records_path %></li>
        <li><%= link_to "Prices", prices_path %></li>
        <li><%= link_to "Labels", labels_path %></li>
        <li><%= link_to "Artists", artists_path %></li>
      </ul>

      <%= render 'layouts/navbar_menu' %>
    </div>
  </div>
</nav>
