<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  	<%= include_stylesheets :common, :helpers %>
  	<%= include_javascripts :common, :helpers %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
	
		<div id="header" class="group">	
			<%= link_to image_tag("recordtemple.png"), root_path, :id => "logo", :class => "logo" %>
			<% if user_signed_in? %>
			<div id="menu">

			You are logged in as <%= current_user.email %>
			<em><%= link_to 'Logout', destroy_user_session_path %></em>

			</div><br>

			<% else %>
			<div id="menu" class="group"> 
			  You are currently not logged in.

			    <em><%= link_to 'Login', new_user_session_path %></em>

			</div><br>

			<% end %>

		</div>

		<div id="nav">
			<ul class="group">
			  <li><%= link_to 'Main Menu', root_path %></li>
			  <li><%= link_to 'My Records', records_path %></li> 
			  <li><%= link_to "Price Guide", prices_path %></li> 
			  <li><%= link_to "Labels", labels_path %></li>
			</ul>
		</div>
		
		<div id="content">
		
	      <% flash.each do |name, msg| %>
	        <%= content_tag :div, msg, :id => "flash_#{name}" %>
	      <% end %>
	      <%= content_tag :h1, yield(:title) if show_title? %>
	      <%= yield %>
		</div>
    </div>
  </body>
</html>
